<button (click)="voltar()" class="btn-voltar">← Voltar para a tela inicial</button>


<div
  *ngIf="filme"
  class="filme-detalhes-container"
  [ngStyle]="{
    'background-image': 'url(' + getBackgroundUrl() + ')',
    'background-size': 'cover',
    'background-position': 'center',
    'filter': 'brightness(1)'
  }"
>
  <div class="filme-card">
    <img
      *ngIf="filme.poster_path"
      [src]="'https://image.tmdb.org/t/p/w500' + filme.poster_path"
      [alt]="filme.title || filme.name"
      class="poster"
    />

    <div class="filme-info">
      <h2>{{ filme.title || filme.name }}</h2>

      <p><strong>Sinopse:</strong> {{ filme.overview || 'Sem descrição disponível.' }}</p>

      <div class="extra-info">
        <p><strong>Lançamento:</strong> {{ filme.release_date || filme.first_air_date || 'Desconhecido' }}</p>
        <p><strong>Nota:</strong> {{ filme.vote_average || 'N/A' }}</p>
        <p><strong>Idioma:</strong> {{ filme.original_language?.toUpperCase() }}</p>
        <p *ngIf="filme.genres?.length">
          <strong>Gêneros:</strong>
          <span *ngFor="let genre of filme.genres; let last = last">
            {{ genre.name }}<span *ngIf="!last">, </span>
          </span>
        </p>
      </div>

      <button class="btn-indicar" (click)="toggleIndicar()">
        Indicar para um amigo
      </button>

      <button class="btn-add-lista" (click)="adicionarMinhaLista()">
        Adicionar a minha lista
      </button>
      <p *ngIf="mensagemLista" class="msg-sucesso">{{ mensagemLista }}</p>

      <div *ngIf="mostrarFormularioIndicar" class="form-indicar">
        <label for="nomeUsuario">Nome do usuário:</label>
        <input
            id="nomeUsuario" 
            type="text"
            [(ngModel)]="nomeUsuario"
            (input)="buscarUsuarios()"
            placeholder="Digite o nome do usuário"
        />

        <ul *ngIf="sugestoesUsuarios.length > 0" class="lista-sugestoes">
            <li 
                *ngFor="let user of sugestoesUsuarios"
                (click)="selecionarUsuario(user)"
                class="sugestao-item"
            >
                {{user.username}}    
            </li>
        </ul>

        <button 
            (click)="enviarIndicacao()"
            [disabled]="!usuarioSelecionado"
            class="btn-enviar-indicacao"
        >
            Enviar indicação
        </button>
        <button (click)="toggleIndicar()" class="btn-cancelar">
            Cancelar
        </button>

        <p *ngIf="mensagemSucesso" class="msg-sucesso">{{ mensagemSucesso }}</p>
        <p *ngIf="mensagemErro" class="msg-erro">{{ mensagemErro }}</p>
    </div>
  </div>
</div>

<div *ngIf="!filme">
  <p>Carregando detalhes do filme...</p>
<div>

