.serie-detalhes-container
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  color: #fff
  display: flex
  justify-content: center
  align-items: center
  padding: 2rem
  overflow: auto
  z-index: 10

.serie-card
  background-color: rgba(18, 18, 18, 0.85)
  border-radius: 10px
  max-width: 900px
  width: 100%
  display: flex
  gap: 1.5rem
  padding: 1.5rem
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7)

.poster
  width: 300px
  border-radius: 10px
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6)

.serie-info
  flex: 1
  display: flex
  flex-direction: column
  justify-content: center

.btn-voltar 
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 20;
  background-color: #444;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;


.btn-voltar:hover 
  background-color: #666;

.btn-sortear-inline
  margin-top: 1.5rem
  padding: 10px 20px
  background-color: #0077cc
  color: #fff
  border: none
  border-radius: 6px
  cursor: pointer
  font-size: 1rem
  transition: background-color 0.3s ease

.btn-sortear-inline:hover
  background-color: #005fa3



h2
  margin-bottom: 1rem

.extra-info p
  margin: 0.3rem 0
