<div class="global-container">
  <h1 id="h1">Recuperar Senha</h1>
  <form (ngSubmit)="alterarSenha()" [formGroup]="formSenha" class="global-form-section"> 
    <label id="user" class="global-label "for="usuario">Usuario:</label>
    <input id="iUser" class="email" formControlName="username" id="usuario" placeholder="Digite seu usuário" required />
    <label id="novaSenha" class="global-label" for="password">Digite sua nova senha: </label>
    <div class="password-wrapper">
      <input
        id="password"
        [type]="showPassword ? 'text' : 'password'"
        formControlName="novaSenha"
        placeholder="*******"
        required
      />
      <button type="button" class="toggle-password" (click)="togglePassword()">
        <img
          [src]="showPassword ? '/assets/imagens/Eye-off.svg' : '/assets/imagens/Eye.svg'"
          alt="Trocar a visibilidade da senha"
        />
      </button>
    </div>

    <label id="repetir" class="global-label" for="password">Repita a sua nova senha: </label>
    <div class="password-wrapper">
      <input
        id="password"
        [type]="showPassword ? 'text' : 'password'"
        formControlName="confirmarSenha"
        placeholder="*******"
        required
      />
      <button type="button" class="toggle-password" (click)="togglePassword()">
        <img
          [src]="showPassword ? '/assets/imagens/Eye-off.svg' : '/assets/imagens/Eye.svg'"
          alt="Trocar a visibilidade da senha"
        />
      </button>
    </div>

    <button id="alterar" class="global-button" type="submit">Alterar</button>
  </form>
</div>